.createproject-container {
  display: flex;
  background-color: var(--page-background-color);
}

.createproject-img {
  position: relative;
  text-align: center;
  color: white;
}

.banner-img {
  height: 50vh;
  width: 50vh;
}

.apside-logo {
  position: absolute;
  top: 0.8rem;
  left: 1.1rem;
  width: 5vw;
  min-width: 4rem;
}

.createproject-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: rgb(245, 245, 240);
}
form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.createproject-form-content input {
  height: 2.5rem;
  margin: 0.5rem;
  font-size: 1.1rem;
  padding-left: 1rem;
  border: 1px solid rgb(190, 190, 190);
}

.createproject-form-content textarea {
  height: 10rem;
  margin: 0.5rem;
  font-size: 1.1rem;
  padding-left: 1rem;
  padding-top: 0.8rem;
  border: 1px solid rgb(190, 190, 190);
}

.createproject-form-content input:focus {
  outline-color: var(--navbar-color);
  box-shadow: 0 0 4px var(--navbar-color);
}

.createproject-form-container h2 {
  padding-bottom: 2rem;
}

.project-button-container button {
  height: 2.6rem;
  width: 10rem;
  font-size: 1.2rem;
  background-color: var(--navbar-color);
  border-radius: 20px;
  border: none;
  color: white;
  font-weight: bold;
}

.project-button-container button:hover {
  background-color: white;
  border-radius: 20px;
  border: 2px solid var(--navbar-color);
  color: var(--navbar-color);
  transition: 0.4s ease-in-out;
}

.project-button-container {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}
